*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#mainBody
{
    width: 100%;
    height: 100vh;
    background-image : linear-gradient(rgb(69, 146, 247),rgb(93, 100, 192)) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameBox
{
    width: 40%;
    
}
.nameBox>h1{
    color: white;
    font-size: 70px;
}
.nameBox>p{
    color: white;
    font-size: 40px;
}
nav{
    width: 4.3vw;
    height: 50vh;
    position: fixed;
    left: 20px;
    z-index: 100;
}
nav>div{
    
    width: 4vw;
    height: 4vw ;
    background: #0a0a0a;
    border-radius: 60%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav>div>a>i{
    color: white;
    font-size: 30px; 
}
.aboutSection
{
    width: 100%;
    height: 100vh;
    background: rgb(93, 100, 192);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image : linear-gradient(rgb(69, 146, 247),rgb(93, 100, 192)) ;
}
.aboutSection>main
{
    width: 80%;
    height: 80%;
    display: flex;
    
}
.aboutSection>main>article
{
    width: 50%;
    height: 100%;
    background-color: rgba(44, 99, 228, 0.816);
    border-radius: 30px;
    margin: 10px;
    
}
.about
{
    width: 80%;
    height: 60%;
    /* background-color: rgb(10, 10, 11); */
    display: flex;
}
.aboutArticle
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    color: white;
}
.about>div{
    width: 50%;
    height : 100% ;
    /* border: 3px solid; */
    background-color: blue;
    border-radius: 30px;
    margin: 10px;
}
.about li{
    padding: 10px;
}
.about ul{
    padding : 5px;
}
.about div{
    padding: 30px;
}
.aboutSection h1{
    font-size: 50px;
}
.aboutArticle>p{
    font-size: 20x;
}
.aboutSection div {
    font-size: 15px;
}
.projects
{
    width: 100%;
    height: 100vh;
    background-image : linear-gradient(rgb(69, 146, 247),rgb(93, 100, 192)) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects>main{
    width: 80%;
    height: 80%;
    border: 3px solid white;
}
.projects>main>h1
{
    font-size: 50px;
    text-align: center;
    text-decoration: underline ;
    color: aliceblue;
    padding: 40px;
}
.projects>main>article
{
    width: 100%;
    height: 80%;
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;

}
.projects>main>article>div{
    width: 45%;
    height: 45%;
    /* border: 3px solid; */
    background: rgb(164, 196, 221);
    border-radius: 10px;
    display: flex;
    justify-content: center;align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    color: rgb(12, 16, 16);
}
.projects>main>article>div>h1
{
    font-size: 30px;
}
.projects>main>article>div>h1>p
{
    font-size: 20px;
}
.experience, .achievements, .contact
{
    width: 100%;
    height: 100vh;
    background-image : linear-gradient(rgb(69, 146, 247),rgb(93, 100, 192)) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.experience>main, .achievements>main, .contact>main
{width: 80%; 
height: 80%;
border: 3px solid;
}
.experience>main>h1{
    font-size: 50px;
    text-align: center;
    text-decoration: underline ;
    color: aliceblue;
    padding: 40px;
}
.experience>main>article
{
    width: 100%;
    height: 80%;
    background-color: rgba(166, 206, 241, 0.901);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */
    border-radius: 10px;
    flex-direction: column;
    padding: 30px;
    color: rgb(7, 11, 11);
}
.experience>main>article>h3{
font-size: 30px;
}
.experience>main>article>p{
    font-size: 20px;
}
.achievements
{
    width: 100%;
    height: 100vh;
    background-image : linear-gradient(rgb(69, 146, 247),rgb(93, 100, 192)) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.achievements>main{
    width: 80%;
    height: 80%;
    border: 3px solid white;
}
.achievements>main>h1
{
    font-size: 50px;
    text-align: center;
    text-decoration: underline ;
    color: aliceblue;
    padding: 40px;
}
.achievements>main>article
{
    width: 100%;
    height: 80%;
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;

}
.achievements>main>article>div{
    width: 45%;
    height: 45%;
    /* border: 3px solid; */
    background: rgb(164, 196, 221);
    border-radius: 10px;
    display: flex;
    justify-content: center;align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    color: rgb(12, 16, 16);
}
.achievements>main>article>div>h1
{
    font-size: 30px;
}
.achievements>main>article>div>h1>p
{
    font-size: 20px;
}